---
layout: default
title: "Contribution Suggestions"
---

<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="/">Home</a></li>
        <li><a href="/contribute">Contribute</a></li>
        <li class="active">{{ page.title }}</li>
      </ol>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h2>Suggested Projects Looking for Contributors</h2>
      The following repositories have indicated that they're looking for new contributors and have attached some helpful tags on issues that they hope will be good entry points. Below are links to the lists of issues in their respective trackers.
      <br>
      If you maintain a repository and would like to be listed here,
      please open a PR to be added to the 
      <a href="https://github.com/ros-infrastructure/rosindex/blob/ros2/_config.yml"><code>_config.yml</code>'s <code>contribute_suggested_repos</code> list</a>.
    </div>
  </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>
    {% for distro in page.all_distros %}
      <div class="row distro distro-{{distro}}">
        <div class="panel panel-default">
          <div class="table-responsive">
            <table class="table table-condensed table-striped table-hover">
              <thead>
                <tr>
                  <th style="text-align: left;">
                    {% if page.sort_id == 'name' %}
                      <span class="selected-sort-label">Name</span>
                    {% else %}
                      <a class="unselected-sort-label" href="{{site.baseurl}}/contribute/suggestions/page/1/name">Name</a>
                    {% endif %}
                  </th>
                  <th style="text-align: center;">
                    {% if page.sort_id == 'time' %}
                      <span class="glyphicon glyphicon-time selected-sort-label"
                            title="Sorted by last commit date"></span>
                    {% else %}
                      <a href="{{site.baseurl}}/contribute/suggestions//page/1/time"
                         class="unselected-sort-label glyphicon glyphicon-time"
                         title="Sort by last commit date"></a>
                    {% endif %}
                  </th>
                  <th width="100%" style="text-align: left;">
                    To Do
                  </th>
                </tr>
              </thead>
              <tbody>
              {% for suggestion in page.list[distro] %}
                {% assign repo_name = suggestion[0] %}
                {% assign instance = suggestion[1].default %}
                {% assign r = instance.snapshots[distro] %}
                <tr>
                  <td>
                    <a href="{{site.baseurl}}/r/{{repo_name}}">{{repo_name}}</a>
                  </td>
                  <td>
                    {% assign date_str = r.data.last_commit_time %}
                    {% if date_str %}
                      <span class="label label-default">{{ date_str }}</span>
                    {% else %}
                      <span class="label label-default">[unknown]</span>
                    {% endif %}
                  </td>
                  <td class="contribute-lists-{{repo_name}}">
                    <a class="label label-primary" href="{{site.baseurl}}/r/{{repo_name}}/#{{distro}}-contribute-lists-help-wanted">
                      Help Wanted (<span class="contribute-lists-help-wanted-count">0</span>)
                    </a>
                    &nbsp;
                    <a class="label label-primary" href="{{site.baseurl}}/r/{{repo_name}}/#{{distro}}-contribute-lists-good-first-issue">
                      Good First Issues (<span class="contribute-lists-good-first-issue-count">0</span>)
                    </a>
                    &nbsp;
                    <a class="label label-primary" href="{{site.baseurl}}/r/{{repo_name}}/#{{distro}}-contribute-lists-pull-requests">
                      Pull Requests to Review (<span class="contribute-lists-pull-requests-count">0</span>)
                    </a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% endfor %}
    <div class="row text-center">
      {% include package_pager.html %}
    </div>
  <div class="row">
    <div class="col-md-12">
      &nbsp;
    </div>
  </div>
</div>

<script src={{ "/js/contribution_suggestions.js" | prepend: site.baseurl }}></script>
<script type="text/javascript">
  $(document).ready(function() {
    setupDistroSwitch("{{ site.distros[0] }}");
    // Set links for contribution suggestions
    {% for distro in page.all_distros %}
      {% for suggestion in page.list[distro] %}
        {% assign repo_name = suggestion[0] %}
        {% assign instance = suggestion[1].default %}
        {% assign r = instance.snapshots[distro] %}
        updateContributionSuggestionsCount("{{repo_name}}", "{{r.data.browse_uri}}");
      {% endfor %}
    {% endfor %}
  });
</script>
