---
layout: default
---

<div class="container-fluid" style="margin-top:20px">
  <div class="container-fluid">
    <div class="row">
      <ol class="breadcrumb">
        <li><a href="{{ site.baseurl }}/">Home</a></li>
        <li><a href="{{ page.docs_baseurl }}/">{{ page.docs_title }}</a></li>
        {% if page.title != "." %}
        <li class="active">{{ page.title }}</li>
        {% endif %}
      </ol>
    </div>
    <div class="row">
      {% include distro_switch.html %}
    </div>
    <div class="row">
      &nbsp;
    </div>    
  </div>
</div>

{% for distro in page.all_distros %}
<div class="distro distro-{{distro}}">
  <div class="container-fluid">
    {% if page.versioned_content[distro] %}
    {% assign content = page.versioned_content[distro] %}
    <a type="button" href="{{ content['edit_url'] }}" class="btn btn-success pull-right">
      Edit on Github
    </a>
    {{ content['body'] }}
    {% else %}
    <div class="alert alert-warning" role="alert">
      No version of this documentation for distro <strong>{{ distro }}</strong>.
      Known supported distros are highlighted in the buttons above.
    </div>
    {% endif %}
  </div>
</div>
{% endfor %}

<script type="text/javascript">
$(document).ready(
    function() {
      $('#toc').toc({
        title: '',
        listType: 'ul',
        showSpeed: 0,
        headers: 'h2, h3' });
});
</script>
