---
layout: default
---

<div class="container-fluid" style="margin:20px">
  <div class="row">
    <ol class="breadcrumb">
      <li><a href="{{site.baseurl}}/">Home</a></li>
      <li class="active">Search</li>
    </ol>
  </div>
  <div id="search-row" class="row show-when-done-searching" style="display: none;">
    <div id="search">
      <form action="{{site.baseurl}}/search" role="form" method="get">
        <div class="input-group">
          <input id="search-query" autocomplete="off" type="text" class="form-control" name="q" placeholder="Search ROS packages">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    &nbsp;
  </div>
  <div class="row">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Search results</h3>
      </div>
      <div id="search-results" class="panel-body show-when-done-searching table-responsive" style="display:none;">
      </div>
      <div class="panel-footer hide-when-done-searching">
        <p class="progress-label">Searching packages...</p>
        <div class="progress" style="margin-bottom: 0;">
          <div id="index-loader-bar" class="m-0 progress-bar progress-bar-warning progress-bar-striped active" role="progressbar" style="width: 100%"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="search-pagination" class="row text-center show-when-done-searching" style="display: none"/>
</div>

{% raw %}
<script id="search-results-template" type="text/mustache">
  {{#have_entries}}
  <table class="table table-condensed table-striped table-hover">
    <thead>
      <tr>
        <th class="col-xs-1" style="text-align: center;"><span class="glyphicon glyphicon-flash"></span></th>
        <th class="col-xs-1" style="text-align: center;"><span class="glyphicon glyphicon-file"></span></th>
        <th class="col-xs-1" style="text-align: center;"><span class="glyphicon glyphicon-time"></span></th>
        <th class="col-xs-1">Distro</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-4">Repo</th>
      </tr>
    </thead>
    <tbody class="entries">
      {{#entries}}
      <tr>
        {{#released}}
        <td class="text-center col-xs-1">
          <span title="Released" data-toggle="tooltip" data-placement="left" class="glyphicon glyphicon-flash"></span>
        </td>
        {{/released}}
        {{^released}}
        <td title="Not released" data-toggle="tooltip" data-placement="left" class="text-center col-xs-1">
          <span class="glyphicon glyphicon-none"></span>
        </td>
        {{/released}}
        {{#readme}}
        <td title="Has README" data-toggle="tooltip" data-placement="left" align="center" class="col-xs-1">
          <span class="glyphicon glyphicon-file"></span>
        </td>
        {{/readme}}
        {{^readme}}
        <td title="No README" data-toggle="tooltip" data-placement="left" align="center" class="col-xs-1">
          <span class="glyphicon glyphicon-none"></span>
        </td>
        {{/readme}}
        <td class="col-xs-1" align="center"><span class="label label-default">{{last_commit_time}}</span></td>
        <td class="col-xs-1"><span class="label label-default">{{distro}}</span></td>
        <td class="col-xs-2"><a href="{{baseurl}}{{url}}">{{name}}</a></td>
        <td class="col-xs-4"><a href="{{baseurl}}/r/{{repo_name}}/{{instance}}">{{instance}}</a></td>
      </tr>
      {{/entries}}
    </tbody>
  </table>
  {{/have_entries}}
  {{^have_entries}}
  <h4>No results found.</h4>
  {{/have_entries}}
</script>
{% endraw %}

<script src="{{site.baseurl}}/js/lunr.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/js/mustache.js" type="text/javascript" charset="utf-8"></script>
<script src="{{site.baseurl}}/js/pagination.js" type="text/javascript" charset="utf-8"></script>
<!--<script src="/js/date.format.js" type="text/javascript" charset="utf-8"></script>-->
<script src="{{site.baseurl}}/js/URI.js" type="text/javascript" charset="utf-8"></script>

<script src="{{site.baseurl}}/js/jquery.lunr.search.js" type="text/javascript" charset="utf-8"></script>

<script type="text/javascript">
$(function() {
  var duration_ms = 400;
  $('#search-query').lunrSearch({
    indexShardsUrl: "{{ '/search/shards.json' | prepend: site.baseurl }}",
    results:  '#search-results',
    pagination: '#search-pagination',
    template: '#search-results-template',
    templateVars: { baseurl: '{{ site.baseurl }}' },
    preview: function(done) {
      $('.show-when-done-searching').slideDown(duration_ms, done);
    },
    ready: function(done) {
      $('.show-when-done-searching').slideDown(duration_ms, function() {
        $('.hide-when-done-searching').slideUp(duration_ms, done);
      });
    }
  });
});
</script>
